<div class="m-login_panel_left">
  <div class="u-login_handle">
    <div class="u-login_handle_icon">
      <i class="fa fa-home"></i>
    </div>
    <div class="u-login_handle_name">登录</div>
  </div>
  <div class="u-login_handle">
    <div class="u-login_handle_icon">
      <i class="fa fa-plus-square"></i>
    </div>
    <div class="u-login_handle_name">注册</div>
  </div>
  <div class="u-login_handle">
    <div class="u-login_handle_icon">
      <i class="fa fa-question-circle"></i>
    </div>
    <div class="u-login_handle_name">忘记</div>
  </div>
</div>
