.g-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}
/*wm-wrapper {
  overflow: hidden;
  display: block;
}*/
.g-container {
    position: relative;
    margin-left: 240px;
    padding-top: 52px;
    background-color: #f5f5f5;
    right: 0;
    left: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
@media (min-width: 991px) {
    .g-container.z-stretched {
        margin-left: 60px;
    }
}
@media (max-width: 991px) {
    .g-container {
        margin-left: 0;
        left: 0;
    }
    .g-container.z-stretched {
        left: 240px;
    }
}

/* container 内容模块 */
.m-container {
  padding: 15px 15px 60px 15px;
  /*min-height: 683px;*/
}


/**================== 以下是为该框架后台定义的一些样式 =====================**/
/* 面包屑导航 */
.m-breadcrumb, .m-box {
  background-color: white;
  /* border: 1px solid #ddd; */
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  /* min-height: 200px; */
  overflow: auto;
}
.m-breadcrumb {
  margin-bottom: 10px;
}
.m-breadcrumb .u-breadcrumb {
  padding: 8px 15px;
  list-style: none;
  margin: 0;
}
.m-breadcrumb .u-breadcrumb>li {
  display: inline-block;
  font-size: 14px;
}
.m-breadcrumb .u-breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.m-breadcrumb .u-breadcrumb>.z-active {
  color: #777;
}

/* 盒子样式 */
.m-box>.m-box-heading {
  border-bottom: 1px solid #ddd;
  padding: 15px 10px 15px 0;
}
.m-box>.m-box-heading>.u-box_title {
  margin: 0;
  font-weight: normal;
  border-left: 5px solid #4ec3ff;
  padding-left: 1rem;
  font-size: 14px;
}
.m-box>.m-box_inner {
  padding: 20px;
  overflow: hidden;
  transition: all 0.3s;
}

@media (max-width: 750px) {
  .m-container {
    padding: 10px;
  }
  .m-box>.m-box_inner {
    padding: 15px;
  }
}
