.g-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}
.g-container {
    position: relative;
    margin-left: 240px;
    padding-top: 52px;
    background-color: #f5f5f5;
    right: 0;
    left: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
@media (min-width: 991px) {
    .g-container.z-stretched {
        margin-left: 60px;
    }
}
@media (max-width: 991px) {
    .g-container {
        margin-left: 0;
        left: 0;
    }
    .g-container.z-stretched {
        left: 240px;
    }
}