.g-login_container {
  width: 100%;
  height: 100%;
  position:relative;
  background-color: #1c2b36;
  overflow: hidden;
  /*box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);*/
}

.g-login_container .m-page_title {
  position: absolute;
  top: 30%;
  padding-left: 20%;
  color: white;
}
.g-login_container .m-page_title .u-sub_title {
  text-indent: 4rem;
  color: #999;
}

.m-login_panel {
  height: 500px;
  margin: auto;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  position: absolute;
  top: calc(50% - 300px);
  right: calc(50% - 205px);
}

.m-login_panel>div {
  float: left;
}

.m-login_panel_left {
  height: 100%;
  width: 80px;
  background-color: #2c3b46;
  overflow: hidden;
  float: left;
}
.m-login_panel_left .u-login_handle {
  height: 60px;
  line-height: 60px;
  color: #eee;
  text-align: center;
  width: 100%;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  margin-bottom: 1px;
}
.m-login_panel_left .u-login_handle .u-login_handle_icon,
.m-login_panel_left .u-login_handle .u-login_handle_name {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.m-login_panel_left .u-login_handle .u-login_handle_icon {
  left: 0;
  background-color: #345;
}
.m-login_panel_left .u-login_handle .u-login_handle_name {
  left: -100%;
  background-color: #234;
  letter-spacing: 5px;
  font-size: 16px;
  color: white;
}
.m-login_panel_left .u-login_handle .u-login_handle_name a {
  color: white;
}
.m-login_panel_left .u-login_handle:hover .u-login_handle_icon {
  left: 100%;
}
.m-login_panel_left .u-login_handle:hover .u-login_handle_name {
  left: 0;
}



.m-login_panel_right {
  width: 350px;
  height: 100%;
  background: url(/assets/images/header-profile/header-profile.png) #233646 no-repeat center;
  background-size: cover;
}


.m-login_panel_right .m-login_header {
  height: 60px;
  line-height: 60px;
  /*background-color: orangered;*/
  background-color: transparent;
  color: white;
  padding-left: 20px;
  font-size: 1.5em;
}

.m-login_panel_right .u-login_avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}
.m-login_panel_right .u-login_avatar img {
  max-width: 100%;
  max-height: 100%;
}

.m-login_panel_right .m-login_form {
  padding: 70px 20px;
}
.m-login_panel_right .m-login_form_block {
  margin-bottom: 30px;
  padding-top: 50px;
  background-color: #2c3b46;
  position: relative;
}
.m-login_panel_right .m-login_form .m-login_form_block .u-login_avatar {
  position: absolute;
  top: -40%;
  right: calc(50% - 40px);
  border: 10px solid #213545;
}
.m-login_panel_right .m-login_form .u-login_form_row {
  position: relative;
}
.m-login_panel_right .m-login_form .u-login_form_row .fa {
  position: absolute;
  color: #666;
  top: 11px;
  width: 50px;
  left: 0;
  text-align: center;
  -webkit-transition: left ease-in-out .15s;
  -o-transition: left ease-in-out .15s;
  transition: left ease-in-out .15s;
}
.m-login_panel_right .m-login_form .u-login_form_row .u-check_code {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.m-login_panel_right .m-login_form .u-login_form_row .u-check_code img {
  max-height: 100%;
}
.m-login_panel_right .m-login_form .u-login_input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  padding-left: 50px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #abc;
  background-color: #2c3b46;
  /*border: 1px solid transparent;*/
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.075);
  -webkit-transition: border ease-in-out .15s;
  -o-transition: border ease-in-out .15s;
  transition: border ease-in-out .15s;
}
.m-login_panel_right .m-login_form .u-login_form_row:last-child .u-login_input {
  border-bottom: none;
  padding-right: 140px;
}
.m-login_panel_right .m-login_form .u-login_input:focus {
  border-left: 5px solid #999;
  outline: 0;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
}
.m-login_panel_right .m-login_form .u-login_input:focus + .fa {
  left: 5px;
}
.m-login_panel_right .m-login_form .u-login_input::-moz-placeholder {
  color: #666;
  opacity: 1;
}
.m-login_panel_right .m-login_form .u-login_input:-ms-input-placeholder {
  color: #666;
}
.m-login_panel_right .m-login_form .u-login_input::-webkit-input-placeholder {
  color: #666;
}
.m-login_panel_right .m-login_form .u-login_input::-ms-expand {
  border: 0;
  background-color: transparent;
}
.m-login_panel_right .m-login_form .u-login_input[disabled],
.m-login_panel_right .m-login_form .u-login_input[readonly] {
  background-color: #eeeeee;
  opacity: 1;
}
.m-login_panel_right .m-login_form .u-login_input[disabled] {
  cursor: not-allowed;
}

.u-login_button {
  display: block;
  width: 100%;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.u-login_button:focus,
.u-login_button:active:focus,
.u-login_button.active:focus,
.u-login_button.focus,
.u-login_button:active.focus,
.u-login_button.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.u-login_button:hover,
.u-login_button:focus,
.u-login_button.focus {
  color: #333;
  text-decoration: none;
}
.u-login_button:active,
.u-login_button.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.u-login_button.disabled,
.u-login_button[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
